body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.board {
    border: solid 1px black;
    display: grid;
    height: 400px;
    width: 400px;
}

.squares:hover{
    background-color: red;
}