body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.board {
    border: solid 1px black;
    display: grid;
    height: 400px;
    width: 400px;
}



button {
    display: flex;
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-top: 20px;
}

